ion-menu::part(backdrop) {
  background-color: rgba(0, 89, 255, 0.562);
}



ion-menu::part(container) {
  border-radius: 0 10px 10px 0;

  box-shadow: 4px 0px 10px rgba(0, 255, 106, 0.61);
}


ion-button {

  --color: rgb(0, 255, 34);
}
