<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Avatar</ion-title>
    <ion-button slot="end">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-list>
  <ion-item *ngFor="let item of [1]">
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>

    <ion-label>KAISER CRESPIN </ion-label>
  </ion-item>
</ion-list>
</ion-content>